$fontColor--primary: #607d8b;
$fontColor--secondary: #c3cdd2;

$fontColor--navigationButton: #607d8b;
$fontColor--navigationSecondary: #bac6cc;

$backgroundColor--navigationButton: #fcfcfc;
$backgroundColor--grayLight: #fafafa;
$backgroundColor--gray: #cfd8dc;

$backgroundColor--secondary: #2962ff;

$backgroundColor--imagePlaceholder: #eceff1;
$backgroundColor--archiveEnrolment: #e8ecee;

$borderColor--gray: #eceff1;
