<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Upwork Project</title>

        <meta name="author" content="Bojan Petrovic">
        <meta name="description" content="Upwork project">
        <meta name="keywords" content="upwork, project">

        <link rel="stylesheet" href="styles/front.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="images/logo.png">
                    </a>
                </div>

                <div class="navbar-buttonGroup">
                    <button type="button" class="navbar-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chatswood
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="navbar-nav-link navbar-nav-link--help"></a></li>
                    <li><a href="#" class="navbar-nav-link navbar-nav-link--dashboard"></a></li>
                    <li><a href="#" class="navbar-nav-link navbar-nav-link--calendar"></a></li>
                    <li><a href="#" class="navbar-nav-link navbar-nav-link--notification"></a></li>
                    <li><a href="#" class="navbar-nav-link navbar-nav-link--user"></a></li>
                </ul>
            </nav>
        </header>

        <div class="container container--large">
          <div class="o-content-menu">
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                          <span class="o-content-menu-icon o-content-menu-icon--dashboard"></span>
                          <h1 class="o-content-menu-title">Dashboard</h1>
                          <span class="o-content-menu-label">Complete Summary</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item is-active">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--centres"></span>
                            <h1 class="o-content-menu-title">Centres</h1>
                            <span class="o-content-menu-label">Centres Management</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--students"></span>
                            <h1 class="o-content-menu-title">Students</h1>
                            <span class="o-content-menu-label">View Students</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--courses"></span>
                            <h1 class="o-content-menu-title">Courses</h1>
                            <span class="o-content-menu-label">Edit Available Courses</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--hr"></span>
                            <h1 class="o-content-menu-title">Human Resources</h1>
                            <span class="o-content-menu-label">Short Description</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--inventory"></span>
                            <h1 class="o-content-menu-title">Inventory</h1>
                            <span class="o-content-menu-label">Inventory Management</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--accounts"></span>
                            <h1 class="o-content-menu-title">Accounts</h1>
                            <span class="o-content-menu-label">Bank Account Details</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--communication"></span>
                            <h1 class="o-content-menu-title">Communication Centres</h1>
                            <span class="o-content-menu-label">Comm Centres</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--system"></span>
                            <h1 class="o-content-menu-title">System Administration</h1>
                            <span class="o-content-menu-label">System Administrations</span>
                        </div>
                    </a>
                    <a href="#" class="o-content-menu-item">
                        <div class="o-content-menu-itemContent">
                            <span class="o-content-menu-icon o-content-menu-icon--userManagement"></span>
                            <h1 class="o-content-menu-title">User Management</h1>
                            <span class="o-content-menu-label">User Management Editor</span>
                        </div>
                    </a>
                </div>
            <div class="o-notifications">
                <div class="container container--large">
                    <div class="o-notification-row">
                        <div class="o-notification-category">
                          <div class="o-notification-category-content">
                            <h1 class="o-notification-category-title">Courses</h1>
                                <button type="button" class="button button--secondary is-disabled">
                                    Print Lession Roles
                                    <span class="c-badge c-badge--notification">12</span>
                                </button>
                                <button type="button" class="button button--secondary is-disabled">
                                    Mark Attendance
                                    <span class="c-badge c-badge--notification">23</span>
                                </button>
                            </div>
                        </div>
                        <div class="o-notification-category">
                            <div class="o-notification-category-content">
                                <h1 class="o-notification-category-title">CRM</h1>
                                <button type="button" class="button button--secondary">
                                    Check Enquiries
                                    <span class="c-badge c-badge--notification">3</span>
                                </button>
                                <button type="button" class="button button--secondary">
                                    Check Trial Students
                                </button>
                            </div>
                        </div>
                        <div class="o-notification-category">
                            <div class="o-notification-category-content">
                                <h1 class="o-notification-category-title">Communication</h1>
                                <button type="button" class="button button--secondary">
                                    Approvals
                                    <span class="c-badge c-badge--notification">12</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="o-notification-row">
                        <div class="o-notification-category">
                            <div class="o-notification-category-content">
                                <h1 class="o-notification-category-title">Accounts</h1>
                                <button type="button" class="button button--secondary">
                                    Bank Transfer Paments
                                    <span class="c-badge c-badge--notification">12</span>
                                </button>

                            </div>
                        </div>
                        <div class="o-notification-category">
                            <div class="o-notification-category-content">
                                <h1 class="o-notification-category-title">Pools</h1>
                                <button type="button" class="button button--secondary">
                                    Upload Cheques
                                    <span class="c-badge c-badge--notification">3</span>
                                </button>
                                <button type="button" class="button button--secondary">
                                    Upload Credit Cards Receipts
                                    <span class="c-badge c-badge--notification">3</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
