.button {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  text-align: left;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: $fontSize--md;
  line-height: 1.428571429;
  border-radius: 4px;
  user-select: none;

  &.is-disabled {
    cursor: not-allowed;
  }
}

.button-caret {
  position: absolute;
  top: 50%;
  right: 15px;

  transform: translateY(-50%);
}
.button--primary {
  color: $fontColor--secondary;
  background-color: transparent;
  border-color: #ccc;

  transition: all .2s;

  &:hover {
    color: #fff;
    background-color: #2962ff;
    border-color: transparent;
  }
}

.button--secondary {
  color: #fff;
  background-color: #4d73db;
  border-color: transparent;

  transition: all .2s;

  &:hover {
    color: $fontColor--secondary;
    background-color: transparent;
    border-color: #ccc;
  }

  &.is-disabled {
    cursor: not-allowed;
    background-color: lighten(#4d73db, 15%);

    &:hover {
      color: #fff;
    }
  }
}

.button--tertiary {
  padding: 12px 40px 12px 15px;

  color: $fontColor--secondary;
  background-color: #fff;
  border-color: transparent;

  transition: all .2s;

  &:hover {
    color: #fff;
    background-color: $backgroundColor--secondary;
    border-color: transparent;
  }
}

.o-summary-button {
  width: 130px;

  padding: 12px 15px;

  @media (min-width: 1024px) {
    position: absolute;
    top: 50%;
    right: 25px;

    transform: translateY(-50%);
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.c-card-dataColumn-button {
  display: block;
  float: left;
  width: calc(50% - 10px);

  text-align: center;

  &:first-child {
    margin-right: 20px;
  }
}

.button-courseType,
.button-enrolmentType {
  @media (max-width: 767px) {
    display: block;
    float: left;
    width: 100%;
    margin: 5px 0;
  }
}
